@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap');

.title {
  margin: 0;
  line-height: 0.75;
  font-size: 10rem;
  font-weight: 400;
  font-family: 'Raleway', sans-serif;
  font-family: 'Covered By Your Grace', cursive;
}


.mainLeft h2 {
  line-height: 1;
  font-size: 2.5rem;
  margin-top: 80px;
  font-family: "Alata", sans-serif;
}

.mainLeft p {
  line-height: 1.5;
  font-size: 1.5rem;
  font-family: "Alata", sans-serif;
}


.green {
  background-color: #06d6a0;
}

.greenFaded {
  background-color: #10F9BB;
}


.yellow {
  background-color: #ffd166;
}

.yellowFaded {
  background-color: #FFE099;
}


.blue {
  background-color: #118ab2;
}

.blueFaded {
  background-color: #15ADE0;
}

.pink {
  background-color: #ef476f;
  background-color: #F26989;
}

.pinkFaded {
  background-color: #F47C98;
}

.darkgrey {
  color: #565656;
}


.black {
  color: #000;
}

/* CONTAINER */
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  font-family: Alata;
  color: white;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 50vw;
  /* background-color: #06d6a0; */
}

.navLeft {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 50vw;
  flex-grow: 1;
}

.mainLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 50vw;
}

.mainLeft p {
  margin-top: -10px;
}

.footerLeft {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-height: 100px;
  height: 100px;
  width: 100vw;
  flex-grow: 1;
  position: absolute;
  bottom: 0;
  font-size: 1.25rem;
}


/* >>>>> RIGHT */
.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 50vw;
}

.navRight {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 100px;
  width: 50vw;
  flex-grow: 1;
  font-size: 1.25rem;
}

.mainRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 50vw;
}

.mainRight h1 {
  font-family: 'Covered By Your Grace', cursive;
  font-size: 4rem;
  line-height: 0.025;
}

.mainRight h2 {
  line-height: 0.25;
}

.footerRight {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-height: 100px;
  height: 100px;
  width: 50vw;
  flex-grow: 1;
  position: absolute;
  bottom: 0;
}

.underline {
    text-decoration: none;
    display: inline-block;
    padding: 15px 20px;
    position: relative;
}

.underlineYellow:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #ffd166;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.underlineBlue:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #118ab2;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.underlinePink:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #ef476f;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.underlinePurple:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #846496;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}


.underline:hover:after { 
  width: 100%; 
  left: 0; 
}

.img {
  max-width: 80%;
  max-height: 25px;
}

.heroImg {
  max-width: 80%;
}

.medImg {
  max-width: 100px;
  margin: 0 15px 0 -10px;
}

.profile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
  font-size: 1.5rem;
  font-size: medium;
}

.italiac {
  font-style: italic;
}

.mainRight h1 {
  margin-top: -10px;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.flexRow p {
  line-height: 5px;
  margin-bottom: 15px;
}

.flexStart {
  justify-content: flex-start;
  align-self: flex-start;
}

.scheduleText {
  line-height: 16px;
  line-height: 0.5;
}


.flexColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* ////// TABLET VERSION ////// */

@media (max-width: 1025px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
    width: 100vw;
    font-family: Alata;
    color: white;
  }

  .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60%;
    width: 100vw;
  }

  .navLeft {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100vw;
    flex-grow: 1;
  }

  .mainLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100vw;
  }

  .mainLeft p {
    margin-top: -10px;
  }

  .footerLeft {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-height: 100px;
    height: 100px;
    width: 100vw;
    flex-grow: 1;
    position: absolute;
    bottom: 0;
  }


  /* >>>>> RIGHT */
  .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
  }

  .navRight {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    width: 100vw;
    flex-grow: 1;
    font-size: 1.25rem;
  }

  .mainRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    min-width: 80%;
  }

  .footerRight {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-height: 100px;
    height: 100px;
    width: 100vw;
    flex-grow: 1;
    position: absolute;
    bottom: 0;
  }

  .footerRight p {
    display: none;
  }
}

/* MOBILE VERSION */
@media (max-width: 500px) {
  .title {
    margin: 0;
    line-height: 0.75;
    font-size: 5rem;
    font-weight: 400;
    font-family: 'Covered By Your Grace', cursive;
  }
  
  
  .mainLeft h2 {
    line-height: 1;
    font-size: 2.25rem;
    margin-top: 50px;
    font-family: "Alata", sans-serif;
  }
  
  .mainLeft p {
    line-height: 1.5;
    font-size: 1.25rem;
    font-family: "Alata", sans-serif;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    font-family: Alata;
    color: white;
  }
  
  .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
  }
  
  .navLeft {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100vw;
    flex-grow: 1;
  }
  
  .mainLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
  }
  
  .mainLeft p {
    margin-top: -10px;
  }
  
  .footerLeft {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-height: 100px;
    height: 100px;
    width: 100vw;
    flex-grow: 1;
    position: absolute;
    bottom: 0;
    font-size: 0.75rem;
  }
  
  
  /* >>>>> RIGHT */
  .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
  }
  
  .navRight {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    width: 100vw;
    flex-grow: 1;
    font-size: 0.75rem;
  }
  
  .mainRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
  }
  
  .mainRight h1 {
    font-family: 'Covered By Your Grace', cursive;
    font-size: 4rem;
    font-size: 2rem;
    line-height: 0.025;
  }
  
  .mainRight h2 {
    line-height: 0.25;
  }
  
  .footerRight {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-height: 50px;
    height: 50px;
    width: 100vw;
    flex-grow: 1;
    /* position: absolute; */
    /* bottom: 0; */
  }

  .footerRight p {
    display: none;
  }

  .img {
    max-width: 80%;
    max-height: 15px;
  }
  
  .heroImg {
    max-width: 100%;
  }
  
  .medImg {
    max-width: 100px;
    margin: 0 15px 0 -10px;
  }
  
  .profile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    font-size: 0.65rem;
    /* font-size: medium; */
  }

  .profile h1 {
    font-size: 1rem;
  }

  .scheduleText {
    line-height: 10px;
    line-height: 0.5;
    font-size: 0.75rem;
  }
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> iPhone SE Version <<< */
@media (max-width: 500px) {
  .title {
    margin: 0;
    line-height: 0.75;
    font-size: 5rem;
    font-weight: 400;
    font-family: 'Covered By Your Grace', cursive;
  }
  
  
  .mainLeft h2 {
    line-height: 1;
    font-size: 2.25rem;
    margin-top: 50px;
    font-family: "Alata", sans-serif;
  }
  
  .mainLeft p {
    line-height: 1.5;
    font-size: 1.25rem;
    font-family: "Alata", sans-serif;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    font-family: Alata;
    color: white;
  }
  
  .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
  }
  
  .navLeft {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100vw;
    flex-grow: 1;
  }
  
  .mainLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
  }
  
  .mainLeft p {
    margin-top: -10px;
  }
  
  .footerLeft {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-height: 100px;
    height: 100px;
    width: 100vw;
    flex-grow: 1;
    position: absolute;
    bottom: 0;
    font-size: 0.75rem;
  }
  
  
  /* >>>>> RIGHT */
  .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
  }
  
  .navRight {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    width: 100vw;
    flex-grow: 1;
    font-size: 0.75rem;
  }
  
  .mainRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
  }
  
  .mainRight h1 {
    font-family: 'Covered By Your Grace', cursive;
    font-size: 4rem;
    font-size: 2rem;
    line-height: 0.025;
  }
  
  .mainRight h2 {
    line-height: 0.25;
  }
  
  .footerRight {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-height: 50px;
    height: 50px;
    width: 100vw;
    flex-grow: 1;
  }

  .footerRight p {
    display: none;
  }

  .img {
    max-width: 80%;
    max-height: 15px;
  }
  
  .heroImg {
    max-width: 100%;
  }
  
  .medImg {
    max-width: 100px;
    margin: 0 15px 0 -10px;
  }
  
  .profile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    font-size: 0.65rem;
    /* font-size: medium; */
  }

  .profile h1 {
    font-size: 1rem;
  }

  .scheduleText {
    line-height: 10px;
    line-height: 0.5;
    font-size: 0.75rem;
  }
}